/************* COMMONS ROULES  *************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************* UTILITY  *************/

:root {}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_column {
    flex-direction: column;
}

.just_center {
    justify-content: center;
}

.a-s_center {
    align-self: center;
}

.pd-lf_10 {
    padding-left: 10px;
}

.gap_5 {
    gap: 5px;
}

.gap_10 {
    gap: 10px;
}

.gap_16 {
    gap: 16px;
}


/************* MAIN  *************/

.schermo {
    height: calc(100vh - 100px);
}

.foto {
    width: calc(100vw / 7);
    height: calc((100vh - 100px) / 5);
    background-color: red;
    border: 1px solid black;
}


/* barra */

.barra {
    height: 100px;
}

div[class^="col"] {
    height: 100px;
    background-color: green;
    border: 1px solid black;
}

div[class^="col_"] {
    width: calc((100vw - 60vw) / 2);
}

.col {
    width: calc(100vw - 40vw);
}

i {
    align-self: center;
    color: white;
    font-size: 2rem;
}

h6 {
    color: white;
    font-size: 0.8rem;
}

.arrow {
    align-self: center;
}

.arrow>i {
    color: white;
    font-size: 0.8rem;
}


/* col_sx */